body {
  margin: 0;
}

.container {
  width: 100%;
}

.character-list,
.one-character {
  min-height: 100vh;
  float: left;
  box-sizing: border-box;
  overflow: auto;
}

.character-list {
  width: 75%;
  max-height: 100vh;
  background-image: url(/assets/site/mapblue.jpg);
  background-size: cover;
}

.one-character {
  width: 25%;
  background-color: #d0d0d0;
}

.searchbar {
  position: absolute;
  bottom: 5%;
}

.character-div {
  min-width: 140px;
  width: 12.5%;
  display: inline-block;
  text-align: center;
}

.character-div p {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 15px;
}

.container-div img {
  margin: auto;
}

.selected {
  opacity: 0.6;
}

.character-picture:hover {
  opacity: 0.6;
  cursor: pointer;
}

.got-title {
  display: block;
  margin: auto;
  max-width: 300px;
}

.character-data {
  overflow: auto;
}

.character-data .character-picture {
  display: block;
  margin: 15px auto;
  height: 150px;
}

.character-data .character-name {
  font-weight: bold;
  display: inline-block;
  margin-left: 15px;
  width: 80%;
}

.character-data .house-image {
 width: 10%;
}

.character-bio {
  padding: 15px;
}
