body {
  margin: 0;
}

.container {
  width: 100%;
}

.character-list,
.one-character {
  min-height: 100vh;
  float: left;
  box-sizing: border-box;
  overflow: auto;
}

.character-list {
  width: 75%;
  max-height: 100vh;
  background-image: url(/assets/site/mapblue.jpg);
  background-size: cover;
}

.one-character {
  width: 25%;
  background-color: #d0d0d0;
}

.searchbar {
  position: absolute;
  bottom: 5%;
}

.character-div {
  min-width: 140px;
  width: 12.5%;
  display: inline-block;
  text-align: center;
}

.character-div p {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 15px;
}

.container-div img {
  margin: auto;
}
